<mat-card class='mat-card mat-focus-indicator mat-elevation-z'>
  <mat-card-header class='d-flex justify-content-center'>
    <div class='mat-card-avatar metric-avatar d-flex justify-content-center align-items-center p-4' [style.background-color]='iconBg' [style.color]='iconBgSubColor'>
      <mat-icon class='d-flex justify-content-center align-items-center' [style.color]='iconColor' style='font-size: 2.3rem;'>{{iconTitle}}</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content class='pt-3'>
    <div class='d-flex flex-column justify-content-center align-items-center main-data'>
      <p>{{reportResult}}</p>
      <p class='report-content pt-3'>{{reportContent}}</p>
    </div>
  </mat-card-content>
</mat-card>
