<div class="d-flex justify-content-center align-items-center flex-column add-account">
  <div>
    <h1>Add your profiles</h1>
    <span> Connect a social profile you'd like to manage. </span>
  </div>

  <div class="d-flex row justify-content-center align-items-center text-center pt-5">
    <div class="col-4">
      <mat-card (click)='addFacebook()' class="mx-4 d-flex text-center align-items-center flex-column h-100">
        <svg-icon
          src="assets/icons/svg/facebook.svg"
          [stretch]="true"
          [svgStyle]="{ 'width.px': 25, fill: '#1877f2', 'padding.px': 1, 'margin.px': 3 }"
        >
        </svg-icon>
        <span>Facebook Page</span></mat-card>
    </div>
    <div class="col-4">
      <mat-card (click)='redirectToTwitter()' class="mx-4 d-flex text-center align-items-center flex-column h-100">
        <svg-icon
          src="assets/icons/svg/twitter.svg"
          [stretch]="true"
          [svgStyle]="{ 'width.px': 25, fill: 'rgba(29,161,242,1.00)', 'padding.px': 1, 'margin.px': 3 }"
        >
        </svg-icon>
        <span>Twitter Account</span></mat-card
      >
    </div>
    <div class="col-4">
      <mat-card (click)='addLinkedin()' class="mx-4 d-flex text-center align-items-center flex-column h-100">
        <svg-icon
          src="assets/icons/svg/linkedin.svg"
          [stretch]="true"
          [svgStyle]="{ 'width.px': 25, fill: '#1877f2', 'padding.px': 1, 'margin.px': 3 }"
        >
        </svg-icon>
        <span>Linkedin Account</span>
        </mat-card>
    </div>
  </div>
  <div class="px-10 pt-5 d-flex justify-content-center add-account-image">
    <img class="w-100" class="" src="./assets/images/add-account.png" />
  </div>
</div>
