<div class='card d-flex flex-column px-4'>
  <div class='d-flex justify-content-between align-items-center card-header py-4'>
    <div class='head'>
      <h2 class='mb-1'>Checkouts</h2>
      <span class='secondary-color'>Your last 5 checkout actions</span>
    </div>
  </div>

  <div class='py-3'>
    <table class="w-100">
      <thead>
      <tr>
        <th *ngFor='let header of tableHeaders'>
          {{ header.toUpperCase() }}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr height='50' *ngIf='checkouts.length === 0'>
        <td colspan='3' align='center' style='font-size: 14px'>No Checkout Found</td>
      </tr>

      <tr height='50' *ngFor='let checkout of checkouts'>
        <td width='60%'>{{dateToString(checkout.created_at, 'dd MMM yyyy iii HH:mm')}}</td>
        <td class='pr-3'>{{checkout.price}}</td>
        <td width='10%' [style]="'color: ' + statusColor(checkout.status)">
          <div class='status px-2 py-1'>{{checkout.status}}</div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
