<section class='login'>
  <div class='container-fluid m-0 p-0'>
    <div class='row m-0 p-0'>
      <div class='col-4 m-0 p-0 d-flex flex-column text-center justify-content-center'>
        <h1 class='pt-5 m-0'>Delayable</h1>
        <p class='desc mt-3 mb-5'>Social media publishing management tool.</p>
        <img src='assets/images/login.png' class='w-100 mt-5' alt=''>
      </div>
      <div class='col-8 m-0 p-0 d-flex justify-content-center align-items-center'>
        <form [formGroup]='loginForm' class='LoginForm' (ngSubmit)='onLogin()'>
          <h3 class='text-center'>SIGN IN</h3>
          <p class='text-center'>Doesn't have an account, <a routerLink='/register'>register</a></p>
          <p>
            <mat-form-field appearance='legacy' class='w-100'>
              <mat-label>E-Mail</mat-label>
              <input class='mt-2' matInput placeholder='Default e-mail: deneme@gmail.com' formControlName='identifier'>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance='legacy' class='w-100'>
              <mat-label>Password</mat-label>
              <input class='mt-2' matInput placeholder='default password: deneme' formControlName='password' type='password'>
            </mat-form-field>
          </p>
          <button mat-raised-button class='mt-2 w-100'>SIGN IN</button>
          <div class='text-center w-100 mt-3 d-flex align-items-center justify-content-center'>
            <p class='mb-0'>or login via:</p>
            <span (click)='facebook_login()' class='material-icons ml-2' style='color: #3b5998'>
              facebook
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
