<div class="side-bar position-relative">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="py-5 m-0">Delayable</h1>
    <div class="rocket mb-3" (click)="openDialog()" matTooltip="Add a New Post" matTooltipClass="tooltip" matTooltipPosition="right">
      <mat-icon style="font-size: 2.5rem;">send</mat-icon>
    </div>
    <div class="menu-item">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div
          class="menu-item"
          [matTooltip]="menu.title"
          matTooltipClass="tooltip"
          matTooltipPosition="right"
          *ngFor="let menu of menuItems"
          [routerLink]="menu.url"
          routerLinkActive="active-url"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>{{ menu.icon }}</mat-icon>
        </div>
      </div>
    </div>

    <div class="position-absolute text-center trademark">
      <div
        matTooltip='Logout'
        matTooltipClass='tooltip'
        matTooltipPosition='below'
      >
        <mat-icon style="font-size: 40px; cursor: pointer;" (click)='logout()'>exit_to_app</mat-icon>
      </div>
    </div>
  </div>
</div>
